// GENERAL PROJECT STYLES
html
  box-sizing: border-box

*
  outline: 0
  border: 0 none
  box-sizing: inherit

*:before, *:after
  box-sizing: inherit

body
  font-family: 'Roboto', sans-serif
  font-weight: 400
  color: #000000

a
  text-decoration: none

h1, h2, h3, h4
  margin: 0

.heading-2
  font-size: calc(25px + 60 *(100vw - 320px) / (1440 - 320))
  font-weight: 700
  margin-bottom: 12px

.heading-3
  font-size: calc(20px + 22 *(100vw - 320px) / (1440 - 320))
  font-weight: 700
  margin-bottom: 12px

.main-text
  font-size: calc(14px + 2 *(100vw - 320px) / (1440 - 320))
  line-height: 1.2
  margin-top: 15px
  margin-bottom: 50px

.main-btn
  display: inline-block
  background-color: #000
  color: #fff
  text-transform: uppercase
  border-radius: 35px
  padding: 10px 55px
  text-align: center
  transition-duration: 0.3s
  transition-property: transform
  transform: translateZ(0)
  box-shadow: 0 0 1px transparent

  &:hover
    transform: scale(1.1)

.img-rotate
  animation: rotation 15s infinite linear



