// GENERAL PROJECT STYLES
html 
   box-sizing: border-box

* 
   margin: 0
   padding: 0
   outline: 0
   border: 0 none
   box-sizing: inherit

*:before, *:after 
   box-sizing: inherit

body 
   font-family: sans-serif
   font-weight: 400

a 
   text-decoration: none